{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page404">
                <p>Ваша анкета успешно отправлена. Мы проверим Ваши данные и свяжемся с Вами в течение 5-ти дней.</p>
                <div class="btn-center">
                    <a class="btn-all" href="{{ path('catalog') }}">Вернуться в каталог</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}